body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
}

.square {
    width: calc(960px / var(--side-length));
    height: calc(960px / var(--side-length));
    border: 1px solid black;
    box-sizing: border-box;
}

.square:hover {
    background-color: black;
}

.hovered {
    background-color: red;
}
